.face {
    width: 400px;
    height: 400px;
    background-color: #F2D705;
    border-radius: 50%;
    /* box-shadow: 2px 4px 8px #5d5202; */
    transition: 1s;
}
.face:hover {
    box-shadow: 4px 8px 16px #1a1701 ;
}
.mouth {
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px; 
}
.eyes1,
.eyes2 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 75px;
    top: 100px;
}
.eyes2 {
    left: 275px;
}